<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather forecast</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
    <h1>Informacje pogodowe: </h1>
    <form class="row g-3" method="post" th:action="@{/weather}">
        <div class="col-12">
            <label for="city" class="form-label">Wpisz miasto:</label>
            <input type="text" class="form-control" id="city" placeholder="np.London" name="city">
        </div>
        <p th:text="${error}" th:if="${error}" style="color: red"></p>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Pokaż</button>
        </div>
    </form>
    <div th:if="${weather != null}">
        <h5>Główne informacje:</h5>
        <ul>
            <li th:text="|Temp: ${weather.main.temp}|"></li>
            <li th:text="|Odczuwalna temp: ${weather.main.feels_like}|"></li>
            <li th:text="|Temp min: ${weather.main.temp_min}|"></li>
            <li th:text="|Temp max: ${weather.main.temp_max}|"></li>
            <li th:text="|Ciśnienie: ${weather.main.pressure}|"></li>
            <li th:text="|Wilgotność: ${weather.main.humidity}|"></li>
            <li th:text="|Widoczność: ${weather.visibility}|"></li>
        </ul>
        <h5>Wiatr:</h5>
        <ul>
            <li th:text="|Prędkość: ${weather.wind.speed}|"></li>
            <li th:text="|Kąt kierunku: ${weather.wind.deg}|"></li>
        </ul>
    </div>
</div>
</body>
</html>